.header{
    height: 120vh;
    background-image:linear-gradient(rgba($color-grey-dark, 0.20), rgba($color-grey-dark, 0.20)), url(../coding.jpeg);
    background-size: cover;
    background-position: top;

    
/* Logo */

.header_logo-box{
    position: absolute;
    top: 40px;
    left: 60px;
    font-size: 40px;
    font-family: " 'Lobster', cursive";
    color: #fff;
}

.header_logo-box:hover{
    color:royalblue;
}

.logo{
    height: 50px;
}

.header_text-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
}